#graph2D{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 28.8%;
    margin-right: -50%;
}

.addButton{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 46%;
    margin-right: -50%;
    border-radius: 20px;
}

#addFunction {
    height: 30px;
    width: 150px;
  }
  #delete {
    height: 30px;
    width: 150px;
  }
  .params {
    width: 150px;
    height: 30px;
  }
  #ui::-webkit-scrollbar {
    width: 0;
  }
  
  #funcsInputs {
    max-width: 160px;
    max-height: 600px;
    position: relative;
    top: 100px;
    left: 1380px;
    overflow: auto;
  }
  
  #funcsInputs::-webkit-scrollbar {
    width: 0;
  }

  .params {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  #delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  #delete:hover {
    background-color: #d32f2f;
  }
  
  .check2D {
    margin-right: 5px;
  }

  .check2D:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .check2D:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .check2D:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .check2D:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .check2D:disabled+label::before {
    background-color: #e9ecef;
  }

  .Casatel {
    color: whitesmoke;
    font-size: 16px;
    top: -40px;
  }